.Landing {
  height: 5000px;
  position: relative;
  font-family: Gill Sans, sans-serif;

  .main-navbar {
    background-color: white;
    z-index: 1;
    height: 60px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.157);
    position: sticky;
    top: 0;
    line-height: 60px;
    padding-left: 90px;

    .navbaritems {
      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 100%;
      margin-right: 40px;
      
      p:hover {
        transform: scale(1.08);
        text-decoration: underline;
      }
    }
  };

  .Landing-background-pic {
    background-image: url("../../assets/img/LandingPageBackground.jpg");
    background-size: cover;
    background-position: bottom;
    height: 91.8vh;
    min-height: 500px;
  };

  .landing-bottom {
    // text-align: center;

    *{
      // border: 1px black solid;
    }

    .why-section-wrapper {
      margin-top: 40px;

      .checkmark-icons {
        height: 70px;
        width: 70px;
        // border: 1px black solid;
        background-image: url("../../assets/img/checkmarkicon.png");
        background-size: contain;

      }

      .why-section {
        margin-top: 30px;
        // border: 1px black solid;
      }
    };

  };
};

.div-break {
  border: 1px rgb(34, 129, 150) solid;
  width: 70px;
  margin: 100px auto 0 auto;
};
