

.SmallMessage-inboxes, .SmallMessageTurned{
  border: 1px black solid;

  .SmallMessage-inboxes-pics {

  }

  .SmallMessage-inboxes-middle {

    .SmallMessage-inboxes-sentTo {

    }

    .SmallMessage-inboxes-msgContent {
      color: rgb(78, 77, 77);

    }

  }

  .SmallMessage-inboxes-sentTime {
    color: rgb(95, 94, 94);
    font-size: 12px;

  }
}

.SmallMessageTurned {
  background-color: green;
}

// .SmallMessageTurned {
//   border: 1px black solid;
//   background-color: green;

//   .SmallMessage-inboxes-pics {

//   }

//   .SmallMessage-inboxes-middle {

//     .SmallMessage-inboxes-sentTo {

//     }

//     .SmallMessage-inboxes-msgContent {
//       color: rgb(78, 77, 77);

//     }

//   }

//   .SmallMessage-inboxes-sentTime {
//     color: rgb(95, 94, 94);
//     font-size: 12px;

//   }
// }

  

