
.SmallMessage {
  background-image: url("../../assets/img/msgbackground.jpg");
  background-size: cover;
  position: relative;
}

.SmallMessage-inboxes {
  &:hover {
    background-color: rgba(245, 220, 244, 0.349);
  }

}

.SmallMessage-inboxes, .SmallMessageTurned{
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.664);

  .SmallMessage-inboxes-pics {

  }

  .SmallMessage-inboxes-middle {

    .SmallMessage-inboxes-sentTo {

    }

    .SmallMessage-inboxes-msgContent {
      span {
        color: rgb(78, 77, 77)
      };
    }
  }

  .SmallMessage-inboxes-sentTime {
    span {
      color: rgb(95, 94, 94);
      font-size: 12px;
    }
  }
}

.SmallMessageTurned {
  background-color: rgba(202, 245, 218, 0.623);
  &:hover {
    background-color: rgba(202, 245, 218, 0.623);
  }
}
