.ChatRoomTop {
  position: relative;
  flex: 0.4;
  max-height: 80px;
  min-height: 50px;
  margin: auto;

  .chatroomtop-inside {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
