.Dashboard {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  .dashboard-img-div {
    // position: absolute;
    display: inline-block;
    border: 1px black solid;
    height: 160px;
    width: 160px;
    border-radius: 50%;
  };
}
