.FriendsLeft {
  // background-color: purple;
  height: 100%;

  .friends-search-wrapper {
    position: sticky;
    top: 0px;
    padding: 20px 30px;
    display: flex;

    .friends-search {
      font-size: 13px;
      padding: 5px;
      display: inline-block;
      flex: 6;
    }

    .friends-search-button-wrapper {
      flex: 1;
      display: inline-block;
      padding: 5px;
      background-color: whitesmoke;
      max-width: 40px;
      cursor: pointer;

      .friends-search-button {
        height: 22px;
      }
    }

    .friends-search-results {
      display: inline-block;
      position: absolute;
      top:75%;
      width: 80%;
      max-height: 440px;
      overflow: scroll;
    }
  };

  .friends-recommend-wrapper {
    .friends-recommend-header {
      font-size: 21px;
    }
    .friends-recommend {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .friends-recommend-each {
        text-align: center;


        .friends-recommend-img {
          display: inline-block;
          border: 1px black solid;
          width: 55px;
          height: 55px;
          border-radius: 100px;
        }
        .friends-recommend-texts {
          width: 102px;
          overflow-wrap: break-word;
          word-wrap: break-word;

          p {
            font-size: 12.6px;
          }
        }
      }
    }
  }
}