.FriendsLeft {
  height: 100%;
  position: relative;
  z-index: 0;

  .friends-search-wrapper {
    position: sticky;
    top: 0px;
    padding: 20px 30px;
    display: flex;
    z-index: 2;

    .friends-search {
      font-size: 13px;
      padding: 5px;
      display: inline-block;
      flex: 6;
    }

    .friends-search-button-wrapper {
      flex: 1;
      display: inline-block;
      padding: 5px;
      background-color: whitesmoke;
      max-width: 40px;
      cursor: pointer;

      .friends-search-button {
        height: 22px;
      }
    }

    .friends-search-results {
      display: inline-block;
      position: absolute;
      top:75%;
      width: 80%;
      max-height: 440px;
      overflow: scroll;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.863);
    }
  };

  .friends-recommend-pending-wrapper {
    margin-top: 40px;

    .friends-recommend-pending-header {
      font-size: 21px;
      margin-bottom: 30px;
    }
    .friends-recommend-pending {
      margin-top: 24px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;

      .friends-recommend-pending-each {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        // position: relative;

        .friends-recommend-pending-img {
          position: relative;
          cursor: pointer;
          border: 1px black solid;
          width: 55px;
          height: 55px;
          border-radius: 100px;
        }

        .friends-recommend-pending-texts {
          width: 102px;
          overflow-wrap: break-word;
          word-wrap: break-word;
          margin-top: 6px;

          p {
            font-size: 12.6px;
          }
        }
      }
    }
  }
}